:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.group {
  justify-content: space-between;
  margin: 0 0 24px;
  align-items: center;
  min-height: 50px;
  min-width: 50px;
}
.group_1 {
  min-width: 400px;
  align-items: center;
  position: relative;
  min-height: 50px;
}
.inner-pages-header {
  min-height: 140px;
  background-color: #151725;
  background-image: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/delish-202104-birriatacos-058-1619806492.jpg");
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  position: relative;
  min-width: 50px;
}
.footer {
  background-color: hsla(var(--igx-grays-100));
  height: 50px;
  border-color: hsla(var(--igx-grays-200));
  border-width: 0px 0px 1px;
  border-style: solid;
  padding: 0 24px;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-shrink: 0;
  min-height: 50px;
  min-width: 50px;
}
.text {
  margin: 8px 0 0;
  color: hsla(var(--igx-surface-500));
  min-width: min-content;
  height: max-content;
}
.text_1 {
  margin: 0 24px 0 0;
  flex-shrink: 0;
  min-width: min-content;
  height: max-content;
}
.text_2 {
  margin: 0 16px 0 0;
  color: hsla(var(--igx-grays-800));
  flex-shrink: 0;
  min-width: min-content;
  height: max-content;
}
.group_2 {
  padding: 48px 0;
  justify-content: center;
  position: relative;
  flex-shrink: 0;
  min-height: 50px;
  min-width: 50px;
}
.group_3 {
  max-width: 1680px;
  align-items: stretch;
  min-width: 50px;
}
.group_4 {
  flex-wrap: wrap;
  align-items: stretch;
  min-width: 50px;
}
.group_5 {
  justify-content: flex-end;
  align-items: center;
  min-height: 50px;
}
.text_3 {
  margin: 0 32px 0 0;
  color: hsla(var(--igx-grays-700));
  flex-shrink: 0;
  min-width: min-content;
  height: max-content;
}
.group_6 {
  padding: 0 24px;
  align-items: stretch;
  position: relative;
  min-height: 50px;
  min-width: 50px;
}
.text_4 {
  color: hsla(var(--igx-grays-700));
  flex-shrink: 0;
  min-width: min-content;
  height: max-content;
}
.group_7 {
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 50px;
}
.actions-content {
  min-height: 40px;
  min-width: 50px;
}
.h6 {
  color: hsla(var(--igx-grays-800));
  min-width: min-content;
  height: max-content;
}
.group_8 {
  position: relative;
}
.h5 {
  flex-shrink: 0;
  min-width: min-content;
  height: max-content;
}
.body-content {
  min-height: 50px;
  min-width: 50px;
}
.group_9 {
  min-width: 50px;
}
.dropdown {
  top: 0;
  left: 0;
  position: absolute;
  flex-shrink: 0;
  height: max-content;
  min-width: min-content;
}
.button {
  margin: 0 0 8px;
  color: hsla(var(--igx-primary-500));
  background-color: transparent;
  height: max-content;
  min-width: min-content;
}
.user-input {
  flex-shrink: 0;
  height: max-content;
  min-width: min-content;
}
.card {
  margin: 0 16px 16px 0;
  height: max-content;
  min-width: 160px;
  max-width: 260px;
  flex-shrink: 0;
}
.row {
  display: flex;
}
.column {
  display: flex;
  flex-direction: column;
}
