<div class="inner-pages-header column">
  <p class="igx-typography__overline text">Tacos</p>
</div>
<div class="group_2 row">
  <div class="group_3 row">
    <div class="group_6 column">
      <div class="group row">
        <h5 class="h5">Tacos</h5>
        <div class="group_5 group_8 row">
          <p class="igx-typography__body-1 text_1">1-1 OF 5 RESULTS</p>
          <button igxButton="flat" igxRipple [igxToggleAction]="dropdown" class="user-input">
            <span>SORT BY</span>
            <igx-icon>keyboard_arrow_down</igx-icon>
          </button>
          <igx-drop-down #dropdown class="dropdown">
            <igx-drop-down-item>Newest Arrivals</igx-drop-down-item>
            <igx-drop-down-item>Featured</igx-drop-down-item>
            <igx-drop-down-item>Price: Low to High</igx-drop-down-item>
            <igx-drop-down-item>Price: High to Low</igx-drop-down-item>
            <igx-drop-down-item>Avg. Customer Review</igx-drop-down-item>
          </igx-drop-down>
        </div>
      </div>
      <div class="group_4 row">
        <igx-card type="outlined" class="card">
          <igx-card-media height="210px">
            <img src="/assets/Easy-Chicken-TacosIMG_9892.jpg" />
          </igx-card-media>
          <igx-card-header>
            <h3 igxCardHeaderTitle>Chicken</h3>
            <h5 igxCardHeaderSubtitle>Taco with pico de gallo, cilantro</h5>
          </igx-card-header>
          <igx-card-content class="body-content">
            <h6 class="h6">$8.99</h6>
          </igx-card-content>
          <igx-card-actions class="actions-content">
            <button igxButton="flat" igxRipple class="button">
              <igx-icon>add_shopping_cart</igx-icon>
              <span>ADD TO CART</span>
            </button>
          </igx-card-actions>
        </igx-card>
        <igx-card type="outlined" class="card">
          <igx-card-media height="210px">
            <img src="/assets/homemade-birria-tacos-recipe-3273w-500x500.jpg" />
          </igx-card-media>
          <igx-card-header>
            <h3 igxCardHeaderTitle>Birria</h3>
            <h5 igxCardHeaderSubtitle>Taco with pico de gallo, cilantro</h5>
          </igx-card-header>
          <igx-card-content class="body-content">
            <h6 class="h6">$10.99</h6>
          </igx-card-content>
          <igx-card-actions class="actions-content">
            <button igxButton="flat" igxRipple class="button">
              <igx-icon>add_shopping_cart</igx-icon>
              <span>ADD TO CART</span>
            </button>
          </igx-card-actions>
        </igx-card>
        <igx-card type="outlined" class="card">
          <igx-card-media height="210px">
            <img src="/assets/20210712-tacos-al-pastor-melissa-hom-seriouseats-37-f72cdd02c9574bceb1eef1c8a23b76ed.jpg" />
          </igx-card-media>
          <igx-card-header>
            <h3 igxCardHeaderTitle>Al Pastor</h3>
            <h5 igxCardHeaderSubtitle>Taco with pico de gallo, cilantro</h5>
          </igx-card-header>
          <igx-card-content class="body-content">
            <h6 class="h6">9.99</h6>
          </igx-card-content>
          <igx-card-actions class="actions-content">
            <button igxButton="flat" igxRipple class="button">
              <igx-icon>add_shopping_cart</igx-icon>
              <span>ADD TO CART</span>
            </button>
          </igx-card-actions>
        </igx-card>
        <igx-card type="outlined" class="card">
          <igx-card-media height="210px">
            <img src="/assets/image.jpg" />
          </igx-card-media>
          <igx-card-header>
            <h3 igxCardHeaderTitle>Chorizo</h3>
            <h5 igxCardHeaderSubtitle>Taco with pico de gallo, cilantro</h5>
          </igx-card-header>
          <igx-card-content class="body-content">
            <h6 class="h6">$9.99</h6>
          </igx-card-content>
          <igx-card-actions class="actions-content">
            <button igxButton="flat" igxRipple class="button">
              <igx-icon>add_shopping_cart</igx-icon>
              <span>ADD TO CART</span>
            </button>
          </igx-card-actions>
        </igx-card>
      </div>
      <div class="group_5 group_9 row">
        <div class="group_1 row">
          <button igxButton="flat" igxRipple class="user-input">
            <igx-icon>arrow_back</igx-icon>
            <span>PREVIOUS</span>
          </button>
          <igx-buttongroup alignment="horizontal" class="user-input">
            <button igxButton="flat" igxRipple>1</button>
            <button igxButton="flat" igxRipple>2</button>
            <button igxButton="flat" igxRipple>3</button>
            <button igxButton="flat" igxRipple>4</button>
            <button igxButton="flat" igxRipple>5</button>
          </igx-buttongroup>
          <button igxButton="flat" igxRipple class="user-input">
            <span>NEXT</span>
            <igx-icon>arrow_forward</igx-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer row">
  <p class="igx-typography__body-2 text_2">Copyright ©2021 AutoShop.com, Inc. All Rights Reserved.</p>
  <div class="group_7 row">
    <p class="igx-typography__body-2 text_3">Terms of Use</p>
    <p class="igx-typography__body-2 text_3">Privacy Policy</p>
    <p class="igx-typography__body-2 text_4">Site Map</p>
  </div>
</div>
