<div class="inner-pages-header column">
  <p class="igx-typography__body-1 text_1">Jack's Tacos</p>
</div>
<div class="content row">
  <div class="group_7 column">
    <h5 class="element element_2">Shopping Cart</h5>
    <div class="group_9 row">
      <div class="group_1 column">
        <igx-list class="list">
          <igx-list-item [isHeader]="false" class="cart-item">
            <span igxListThumbnail>
              <igx-avatar src="/assets/Easy-Chicken-TacosIMG_9892.jpg" [roundShape]="false" size="large"></igx-avatar>
            </span>
            <span igxListLine>
              <div class="group_10 row">
                <p class="igx-typography__body-1 element_2">Chicken Tacos</p>
                <div class="group_2 row">
                  <div class="group_5 row">
                    <p class="igx-typography__body-1 text_2">Qty:</p>
                    <div class="group_6 row">
                      <button igxButton="icon" igxRipple>
                        <igx-icon>remove</igx-icon>
                      </button>
                      <p class="igx-typography__body-1 text">1</p>
                      <button igxButton="icon" igxRipple>
                        <igx-icon>add</igx-icon>
                      </button>
                    </div>
                  </div>
                  <p class="igx-typography__body-1 text_3">$8.99</p>
                </div>
              </div>
            </span>
            <span igxListAction>
              <igx-icon family="material" class="icon">remove_shopping_cart</igx-icon>
            </span>
          </igx-list-item>
        </igx-list>
      </div>
      <div class="group_3 column">
        <h6 class="element h6">Cart totals</h6>
        <div class="group_8 row">
          <p class="igx-typography__subtitle-2 element_2 element_3">Subtotal</p>
          <p class="igx-typography__body-1 element_1">$8.99</p>
        </div>
        <div class="group_8 row">
          <p class="igx-typography__subtitle-2 element_2 element_3">Tax &amp; Fees</p>
          <p class="igx-typography__body-1 element_1">$.07</p>
        </div>
        <div class="group column"></div>
        <div class="group_8 element row">
          <h6 class="element_2 element_3">Total</h6>
          <h6 class="element_1">$9.06</h6>
        </div>
        <div class="group_4 row">
          <button igxButton="flat" igxRipple class="button">PROCEED TO CHECKOUT</button>
        </div>
      </div>
    </div>
  </div>
</div>
