:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.group {
  justify-content: space-between;
  padding: 0 24px 0 0;
  height: 71px;
  min-height: 71px;
  border-color: hsla(var(--igx-grays-200));
  border-width: 0px 0px 1px;
  border-style: solid;
  flex-shrink: 0;
  align-items: center;
  position: relative;
}
.group_1 {
  justify-content: center;
  overflow: hidden;
  align-items: center;
  position: relative;
}
.group_2 {
  justify-content: flex-end;
  min-height: 50px;
  align-items: center;
}
.image {
  height: 70px;
  min-height: 0;
  width: 180px;
  object-fit: contain;
  flex-shrink: 0;
}
.view-container {
  flex-grow: 1;
  position: relative;
}
.button {
  color: hsla(var(--igx-secondary-400));
  margin: 0 0 0 8px;
}
.button_1 {
  height: max-content;
  min-width: min-content;
  flex-shrink: 0;
  color: hsla(var(--igx-grays-700));
}
.row {
  display: flex;
}
