<div class="main-page-header row">
  <div class="group_1 row">
    <div class="group_3 column">
      <h4 class="h4">Jacko's Tacos</h4>
      <div class="group row"></div>
    </div>
  </div>
</div>
<div class="content column">
  <h5 class="h5">Popular Categories</h5>
  <div class="group_2 group_4 row">
    <igx-card type="outlined" class="card">
      <igx-card-media height="400px">
        <img src="/assets/homemade-birria-tacos-recipe-3273w-500x500.jpg" />
      </igx-card-media>
      <igx-card-header>
        <h3 igxCardHeaderTitle>Tacos</h3>
        <h5 igxCardHeaderSubtitle>Chicken, Birria, Al pastor,  Chorizo</h5>
      </igx-card-header>
    </igx-card>
    <igx-card type="outlined" class="card">
      <igx-card-media height="400px">
        <img src="/assets/Beef-Burrito.jpg" />
      </igx-card-media>
      <igx-card-header>
        <h3 igxCardHeaderTitle>Burritos</h3>
        <h5 igxCardHeaderSubtitle>Chicken, Steak, Al pastor,  Chorizo</h5>
      </igx-card-header>
    </igx-card>
    <igx-card type="outlined" class="card">
      <igx-card-media height="400px">
        <img src="/assets/Simply-Recipes-Quesadilla-LEAD-5-55da42a2a306497c85b1328385e44d85.jpg" />
      </igx-card-media>
      <igx-card-header>
        <h3 igxCardHeaderTitle>Quesadillas</h3>
        <h5 igxCardHeaderSubtitle>Chicken, Steak, Birria, Chorizo</h5>
      </igx-card-header>
    </igx-card>
  </div>
  <div class="group_2 row"></div>
</div>
